/* header styling */
.headpic { 
  width: 910px; 
  height: 540px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* main styling */
main { 
  margin: 0 3rem 0;
  padding: 2rem; 

}
/* index styling */
.columns {
  flex-flow: row;
  justify-content: space-around;
}

.columnOne { 
  max-width: 45%;
}

.columnTwo{ 
  max-width: 45%;
}

/* about styling */
.recital { 
  float: left;
  clear: none;
  padding: 1rem; 
}